[profile.default]
src = "src"
out = "out"
libs = ["lib"]
cache = true
cache_path = 'cache'
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
# optimizer = true
# optimizer_runs = 1
solc_version = "0.8.26"


[fmt]
line_width = 120
single_line_statement_blocks = "preserve"
multiline_func_header = "params_first"
sort_imports = true
override_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "thousands"
wrap_comments = true
ignore = ["./lib"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
