[profile.default]
src = "src"
out = "out"
libs = ["lib"]
cache = true
cache_path = 'cache'
ffi = true
ast = true
build_info = true
extra_output = ["storageLayout"]
optimizer = true
optimizer_runs = 1
solc_version = "0.8.26"
evm_version = 'cancun'


[fmt]
line_width = 120
single_line_statement_blocks = "preserve"
multiline_func_header = "params_first"
sort_imports = true
override_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "thousands"
wrap_comments = true
ignore = ["./lib"]

[etherscan]
berachain = { key="", chain = 80094, url = "https://api.berascan.com/api" }
unichain = { key="", chain = 130, url = "https://api.uniscan.xyz/api" }
worldchain = { key="", chain = 480, url = "https://api.worldscan.org/api" }
avalanche = { key="", chain = 43114, url = "https://api.routescan.io/v2/network/mainnet/evm/43114/etherscan" }
mantle = { key="", chain = 5000, url = "https://api.mantlescan.xyz/api" }
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
